/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.head-set{
    padding-top:60px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background-color: #dd6e68;
    border-color: transparent;
    color: #fff;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
    }

.navbar-brand {
    padding: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}
/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    background: url(../img/posters.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(95, 95, 95, 0.75); 
        min-height: 600px;
        color: #fff;
    }

    #home h1 {
        padding-top: 80px;
        font-family:;
        font-weight: 800;
        font-size: 60px;
    }
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/

/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/posters.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(95, 95, 95,0.75);
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/
.portfolio-item img:hover { /* POSTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

/*================================
    VIDEO SECTION STYLES
==================================
#part3 {
    color: #fff;
}

    #part3 .overlay {
        background-color: rgba(45, 45, 45, 0.85);
        min-height: 300px;
        color: #fff;
    }

*/
/*================================
    CLIENTS SECTION STYLES
==================================*/


/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 2em;
    background-color: #dd6e68;
    color: #fff;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

.graphics{
    margin-top:20px;
    margin-bottom:20px;
}

div>p{
    text-indent: 2em;
}

